body{
    background-color: #000000;
    margin:0 auto;
    text-align: center;
    width: 100%;
    height: 100%;
    display: inline-block;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(91, 91, 91); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(255, 222, 54); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(200, 35, 35); 
  }

/* ________________________________________________________________________ */
.container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.header{
    background-color: #8F1D27;
    height: 60px;
    font-size: 20px;
    font-weight: 700;
    border-bottom: rgb(0, 0, 0) solid 4px;
    
}

.top_header {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.top_left_header_img{
    width: 100px;
    margin: 5px 0px;
}

.top_left_header{
    display: inline-block;
    width: 15%;
}

.top_mid_header{
    display: inline-block;
    width: 40%;
    height: 100%;
}

.top_mid_header_tag{
    display: inline-block;
    margin: 0px 20px;
    border: #8F1D27 4px solid;
}

.top_mid_header_tag_deco{
    text-decoration: none;
    color: #FFF3BC;
}

.top_mid_header_tag_deco1{
    text-decoration: none;
    color:  #FFF3BC;
}

.top_mid_header_tag_deco1:hover{
    border-bottom: #8F1D27 solid 4px;
}

.top_mid_header_tag:hover{
    border-bottom: #fae500 solid 4px;
    text-shadow: #ffffff 0px 0px 4px;
    
}

.top_right_header_name{
    display: inline-block;
    border-radius: 10px;
    background-color: #ffffff;
    width: 40%;
    height: 30px;
    padding-top:5px ;

}

.top_right_header {
    height: 3.75rem;
    margin-bottom: 3px;
    width: 40%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.bot_header {
    width: 100vw;
    height: 100vh;
    object-fit: contain;
    overflow: hidden;
    color: white;
    border-bottom: white 3px  solid;
}


.bot_header_img {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./../IMG/hinh-anh-ho-guom-dep-voi-thap-rua.jpg);
    animation: scroll 70s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    perspective-origin: 50% 50%;


}

@keyframes scroll {
    100%{
     background-position:0px 100%;
   }
 }
 
 @media (prefers-reduced-motion) {
   .wrapper {
     animation: scroll 200s linear infinite;
   }
 }
 
 @media (min-width: 670px) {
   .title {
     font-size: 5rem;
   }
 }

.a11{
    display: inline-block;
    margin-right:5% ;
}

.text-banner {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.text-banner_title{
    font-size:50px;
    color: #fae500;
}

.text-banner_slogan{
    font-size:20px;
}

