body{
    background-color: #000000;
    margin:0 auto;
    text-align: center;
    width: 100%;
    height: 100%;
    display: inline-block;
}

/* ________________________________________________________________________ */
.container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.header{
    background-color: #8F1D27;
    height: 60px;
    font-size: 20px;
    font-weight: 700;
    
}

.top_header {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.top_left_header_img{
    width: 60px;
}

.top_left_header{
    display: inline-block;
    width: 15%;
}

.top_mid_header{
    display: inline-block;
    width: 40%;
}

.top_mid_header_tag{
    display: inline-block;
    margin: 0px 20px;
}

.top_mid_header_tag_deco{
    color: #FFF3BC;
    text-decoration: none;
}
.top_right_header{
    width: 10%;
    display: inline-block;
    border-radius: 10px;
    background-color: #FFF3BC;
    height: 20px;
}
.bot_header {
    width: 100vw;
    height: 100vh;
    object-fit: contain;
    overflow: hidden;
    color: white;
    border-bottom: white 3px  solid;
}


.bot_header_img {
    width: 150%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./../IMG/anh-ha-noi.jpg);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    animation-timing-function: linear;

}

.text-banner {
    margin-left: 10%;
}

/* ________________________________________________________________________ */
.intro_food{
    height: 40vh;
    display: grid;
    grid-template-columns: 1fr 0.3fr 1.3fr;
    padding: 50px 200px ;
    border: 10px solid #000000;
}

.intro_food2{
    display: grid;
    grid-template-columns: 1fr 0.3fr 1.3fr;
    padding: 50px 200px ;
    border: 10px solid #000000;
}

.intro_food_text{
    text-align: justify;
    font-size: 20px;
    color: white;
}
.intro_food_text_head{
    font-size: 32px;
    font-weight: bold;
}


.intro_food_img{
    border-radius: 30px;
    width: 100%;
}

/* ________________________________________________________________________ */
.food_select{
    height: 500px;
    border-top: white 3px  solid;
    color: #fae500;
    display: grid;
    grid-template-columns: 2fr 0.3fr 3fr;
    padding:40px 40px 70px 40px;
    
}

.food_select_top_rate_img{
    width: 100%;
    margin-bottom: 20%;
    background-color: #fae500
}

.food_select_choose_box{
    border: 3px #8f1d27d6 solid;
    height: 100%;
    border-radius: 30px 30px 0px 0px;
    width: 28%;
    display: grid;
    grid-template-rows: 1fr 0.6fr;
}

.food_select_choose_box_img{
    width: 100%;
    border-radius: 30px 30px 0px 0px;
}

.food_select_choose_box_text{
    background-color: #8F1D27;
    padding: 30px 4px;
}



/* ________________________________________________________________________ */


footer {
    background-color: #8f1d27;
    color: #ffffff;
    height: 160px;
    border-top: rgb(255, 221, 0) 6px solid;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.footer_top_text{
    display: inline-block;
    margin: 0px 36px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: rgb(255, 221, 0);
    font-size: 20px;
}

.footer_bot{
    border-top:rgb(255, 221, 0) 1px solid ;
    width: 60%;
    color: rgb(255, 221, 0);
    font-size: 12px;
    padding: 10px;
}

